.login {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 70px;
}

.title {
  font-size: 40px;
}

.inputLogin,
.inputPassword {
  width: 250px;
  height: 35px;
  padding-left: 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid black;
  font-size: 17px;
}

.inputPassword {
  width: 215px;
  border-radius: 15px 0 0 15px;
}

.buttonShow {
  width: 35px;
  height: 35px;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
}

.buttonSubmit {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
  margin-top: 50px;
}

.buttonSubmit:hover {
  scale: 1.05;
}

.inputWithButton {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBack {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}