.button {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  rotate: 0deg;
  transition-duration: 0.3s;
}

.active {
  rotate: 90deg;
}