.header {
  width: 1000px;
  height: 65px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}